<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoBite</title>
    <link rel="stylesheet" href="/style/main.css"> <!-- Link to CSS file -->
    <style>
        
    </style>
</head>
<body>
    <nav class="navbar">
        <a href="/">Coins</a>
        <a href="https://github.com/Arunjangir8/Crypto">GitHub</a>
        <a href="https://arunjangir8.github.io/portfolio2.0/">Contact</a>
        
    </nav>


